$clr-white: #fff;
$clr-text: #1D0F12;
$clr2: #82A8D9;
$clr3: #425d7e;
$clr1: #F5F5F5;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

@mixin transition-ease {
    transition: all .5s ease-in-out;
}

@mixin media-sm {
    @media screen and (min-width: 600px) {
        @content;
    }
}

@mixin media-md {
    @media screen and (min-width: 900px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 1200px) {
        @content;
    }
}