.contact {
    h2 {
        text-align: center;
    }

    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 84vh;
    }

    .form {
        width: 500px;
        background-color: $clr2;
        padding: 2rem;
        border-radius: 1rem;

        label {
            display: inline-block;
            margin: 1.5rem 0 .5rem;
        }

        input,
        textarea {
            display: block;
            width: 100%;
            padding: .5rem;
            font-size: 16px;
            border-radius: .2rem;
            border: none;

            &:focus {
                border: 1px dotted black;
            }   
        }

        button {
            margin-top: 1.5rem;
            border: none;
            background-color: $clr-white;
            padding: .5rem 1.4rem;
            border-radius: 1rem;
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
            width: 40%;
        }
    }
}