.footer {
    background-color: $clr-white;
    border-top: 2px solid $clr-text;
    height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__social {
        display: flex;

        i {
            font-size: 28px;
        }
    
        img {
            width: 30px;
            height: 30px;
            border: 1px solid $clr-text;
            border-radius: 50%;
        }
    }
}