@import 'home', 'config', 'header', 'responsive', 'footer', 'contact';

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color: $clr-text;
    background-color: $clr-white;
}

a {
    text-decoration: none;
    color: $clr3;
    padding: .2rem;
}

h1 {
    font-size: 50px;
    line-height: 1.2;
    margin: 1rem 0;
}

h2 {
    font-size: 30px;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

a,
button {
    &:focus {
        border: 1px dotted black;
    }   
}